header {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-top: 15px;
}

nav > .button {
    margin-left: 10px;
}

.status-done {
    background-color: lawngreen;
}

.status-progress {
    background-color: orange;
}

.status-manual {
    background-color: orangered;
}
